<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous" defer></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/itempage.css">

    <script src="https://kit.fontawesome.com/b2cb25ccdb.js" crossorigin="anonymous"></script>
    <script  src ="js/event-handler.js" type="text/javascript"defer></script>

    <title>RealBay</title>
</head>
<body id="body">
    <div class="cnavbar">
        <button id="logobtn"  class="navbarLogo" type="button" name="button">
          <img class="navbarLogo" src="images/Logo.png" alt="Realbay-Logo">
        </button>

          <form class="searchForm" action="/userprofile" method="post">
              <div class="dropdown-center">
                  <button class="cbtn cbtn-tags" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tags</button>
                  <ul class="dropdown-menu">
                      <li>
                          <input class="dropdown-item" name="c1-checkbox" type="checkbox">
                          <label for="c1-checkbox"> Dienstleistungen</label>
                      </li>
                      <li> <a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
                        <ul class="submenu dropdown-menu">
                          <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                          <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                          <li><a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                            <ul class="submenu dropdown-menu">
                              <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                              <li><a class="dropdown-item" href="#">Multi level 2</a></li>
                            </ul>
                          </li>
                          <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
                          <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
                        </ul>
                      </li>
                      <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                      <li><a class="dropdown-item" href="#"> Dropdown item 4 </a></li>
                    </ul>
              </div>

              <input class="searchbar" type="text" name="searchInput">
              <button class="cbtn" type="submit">Search</button>
          </form>

          <button class="cbtn cbtn-profile"><i class="fa-solid fa-user"></i></button>
      </div>

    <div class="container">
        <img src="images/cat.png" class="article-img-lg" alt="article-img">
        <div class="article-txt">
            <h1 >Süße Katze</h1>
            <p class="describtion-sm">
                Will meine Katze verkaufen, kotzt zu viel.
            </p>
            <p class="describtion-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, eligendi perspiciatis quae consequuntur excepturi tempore exercitationem natus, aliquam hic voluptates alias. Rem distinctio assumenda corrupti, explicabo illo sed optio! Earum.
            </p>
            <hr>
            <h2>Produktinormationen</h2>
            <table class="article-info">
                <tr>
                    <td>Gewicht</td>
                    <td>20kg</td>
                </tr>
                <tr>
                    <td>Größe</td>
                    <td>80cm*10cm*20cm</td>
                </tr>
                <tr>
                    <td>Alter</td>
                    <td>12 Jahre</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="merchant container">
        <div style="display: flex;">
            <button class="merchant-btn" ></button>
            <div style="margin: auto 0 auto 5%;">
                <h2>Merchant</h2>
                <p>⭐⭐⭐⭐⭐</p>
            </div>
        </div>
        <div class="even-v-grid">
            <a href="#" target="_blank">
                <i class="fa-solid fa-1x fa-envelope responsive-icon icon"></i>
                exmaplemail@mail.com
            </a>

            <a href="#" target="_blank">
                <i class="fa-solid fa-1x fa-phone responsive-icon icon"></i>
                +49 012345678
            </a>
        </div>
    </div>

    <footer>
        <i class="fa-brands fa-1x fa-twitter responsive-icon icon"></i>
        <i class="fa-brands fa-1x fa-instagram responsive-icon icon"></i>
        <i class="fa-brands fa-1x fa-facebook-f responsive-icon icon"></i>
        <i class="fa-solid fa-1x fa-envelope responsive-icon icon"></i>
        <p>© Copyright</p>
    </footer>
  </body>
</html>
