#body {
  text-align: left;
}

#PersonalInfo{
  margin-top: 5%;
  margin-left: 10%;
  height: 700px !important;
  width: 20%;
  display: inline-block;
  text-align: center;
  background-color: #609501 !important;
  padding: 10px;
  position: static;
  overflow: auto;
}

.profile-img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  margin: 30px auto 50px auto;
}

.socials{
  text-align: left;
  height: 200px;
}

.bio{
    vertical-align: top;
    margin-left: 8%;
    margin-top: 5%;
    padding: 20px;
    /* background-color: #609501; */
    height: 600px;
    width: 44%;
    display: inline-block;
    text-align: left;
    /* border-style: ridge; */
    /* border-width: medium; */
    border-radius: 12.8px;
    background-color: #609501;
    color: white;
}
.sterne{
  position: absolute;
  bottom: 0px;
}

.daten{
  margin-left: 10%;
}

hr{
  margin-top: 50px;
  border: 0;
  height: 1px;
}

#link{
  color: white;
  font-weight: normal;
  text-decoration: none;
}
#link:hover{
  text-decoration: underline;
}

.news-row {
    padding: 55px 0;
    border-bottom: 3.2px solid #e5e5e5;
}

.news-row:last-child {
    border-bottom: 0
}

.news-container {
    margin-top: 8%;
    border: 32px solid transparent;
    border-radius: 12.8px;
    background-color: white;
}

.news-title {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-item {
    width: 400px;
    height: 320px;
    overflow: auto;
    background-color: #e5e5e5;
    color: black
}
.news-item-slideshow{
  width: 300px;
  height: 240px;

  overflow: auto;
  background-color: #fff;
  color: black
}

.article-desc {
    text-align: left;
    line-height: 1.25;
}

.article-title {
    margin-top: 10px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.article-footer {
    text-align: right;
    font-size: small;
    color: #949494;
}

.article-img {
    width: 100px;
    height: 75px;
    background-color: #e8e8e8;
    object-fit: scale-down;
}
.edit-button{
  display: block;
  margin-left: 15%;
}

.carousel-control-prev:hover, .carousel-control-next:hover, .carousel-control-prev:active, .carousel-control-next:active, .carousel-control-prev:focus, .carousel-control-next:focus {
  color: white;
}

.carousel-control-next {
  margin-left:20px;
  color: white;
}

.carousel-control-prev {
  margin-right:20px;
  color: white;
}

#carouselExampleControls{
  margin-top: 80px;
}
