#body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #e5e5e5;
    text-align: center;
}
#logobtn{
  border: 0;
  padding:0;
  margin: 0;
}

.icon {
    margin: 20px 10px;
}

.cnavbar {
    padding: 10px;
    background-color: white;
    color: #949494;
    height: 85px;
    overflow: visible;
    border-left: 19.2px solid #609501;
    border-bottom: 1px solid #609501;
    text-align: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1020;
}

.searchbar {
    background-color: white;
    border-radius: 0 20px 20px 0;
    border: 3.2px solid #609501;
    font-size: 16px;
    width: 240px;
    height: 32px;
}

.cbtn {
    background-color: #609501;
    border-radius: 25px;
    border: 3.2px solid transparent;
    font-size: 16px;
    color: white;
    width: 80px;
    height: 32px;
}

.cbtn:hover {
    outline: 2px solid #77b504;
}

.cbtn-profile {
    margin-right: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-left: 25%;
}

.cbtn-tags {
    border-radius: 25px 0 0 25px;
}

.c-cou-cntr{
background-color: lightgrey;
border-radius: 19.2px;
}

.searchForm {
    display:  inline-block;
    margin-left: 25%;
    overflow: visible;
}

.navbarLogo {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0%;
    height: 100%;
    vertical-align: middle;
}

.news-row {
    padding: 55px 0;
    border-bottom: 3.2px solid #e5e5e5;
}

.news-row:last-child {
    border-bottom: 0
}

.news-container {
    width: 80%;
    margin: 8% auto;
    border: 32px solid transparent;
    border-radius: 12.8px;
    background-color: #609501;
}

.news-title {
    color: white;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-item {
    width: 400px;
    height: 320px;
    overflow: auto;
    background-color: white;
    color: black
}

.article-desc {
    text-align: left;
}

.article-title {
    margin-top: 10px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

.article-footer {
    text-align: right;
    font-size: small;
    color: #949494;
}

.article-img {
    width: 200px;
    height: 150px;
    background-color: #e8e8e8;
    object-fit: scale-down;
}

.footer {
    color: black
}

.dropdown-center {
    display: inline-block;
}

.dropdown-menu li{
    display: inline-block;
    position: relative;
}
.nav-item .submenu {
		display: none;
		position: absolute;
		left:100%; top:-7px;
}
.nav-item .submenu-left{
		right:100%; left:auto;
}

.dropdown-menu > li:hover{
     background-color: #77b504
}

.dropdown-menu > li:hover > .submenu{
     display: block;
}

input[type=text]:focus{
    outline: 2px solid #77b504;
}
