.main-container {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin: 25px ;
}


.news-title {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-row {
    padding: 0 0;
}

.vertical-nav {
    width: 8%;
    height: 300px;
    background-color: #609501;
    border-top-left-radius: 12.8px;
    border-bottom-left-radius: 12.8px;
    margin: 25px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.settings-div {
     background-color:#609501;
    width: 70%;
    height: 700px;
    border-top-right-radius:   12.8px;
    border-bottom-right-radius:12.8px;
    border-bottom-left-radius: 12.8px;
    margin: 25px ;
    margin-left: 0px ;

}
.cbtn-ver-nav{
  margin-top: 50px;
  border: 2px;
  border-style: solid;
  border-color: white;
}

#items-button{
  outline: 2px solid white;
}



  td {
      padding: 10px;
      border: 1px solid white;
  }

  hr {
      margin-top: 40px;
      background-color: #e5e5e5;;
  }

  h1 {
      color: white;
      font-weight: bold;
      font-size: 35px;
  }

  h2 {
      color: white;
      font-weight: normal;
      font-size: 20px;
  }

  .container {
      /* margin: 6% auto; */
      width: 80%;
      height: 600px;
      border: 1px solid transparent;
      border-radius: 12.8px;
      background-color: #609501;
      justify-content: space-between;
      display: flex;
      vertical-align: middle;
      color: white;
  }

  .article-txt {
      margin: 30px 20px;
      text-align: left;
  }

  .article-info {
      margin-top: 40px;
  }

  .article-img-lg {
      margin: 30px 20px;
      border-radius: 25px;
      background-color: #e8e8e8;
      padding: 20px;
      object-fit: scale-down;
      width: 400px;
      height: 540px;
      vertical-align: middle;
  }


  .merchant {
      padding: 50px;
      text-align: left;
      height: 200px;
      justify-content: space-between;
  }

  .merchant-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
  }

  .merchant-desc {
      margin: 40px 0 auto 20px;
  }

  .merchant-btn {
      width: 100px;
      height: 100px;
      border: none;
      border-radius: 50%;
      background: url("images/cat.png");
      background-size: 100px
  }

  .merchant-btn:hover {
      outline: 2px solid white;
  }

.h1{
  font-size: 10;

}

.TimeLimit{
  position: absolute;
  right:260px;
  bottom:5px;
}

.Category{
  position: absolute;
  left:410px;
  bottom:5px;
}
.input{
display: block;
background-color: #609501;
color: white;
border: none;

}
